<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :Comment %><br />
    <%= f.text_area :body, :class => "comment_text_box" %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>