

<h2>Welcome to the Humboldt Fantasy Football Betting League</h2>

<h3><%= link_to "Send the President Your Weekly Picks" , new_user_pick_path(@user, @user.user_id) %> </h3>

<h3><%= link_to "View My Weekly Picks" , user_picks_path(@user, @pick) %></h3>

<h3><%= link_to "Bovada", "http://sports.bovada.lv" %></h3>

<h3><%= link_to "Message Board", posts_path %></h3>




