<h3> Example Submission for Week Picks </h3>

<h4>Like the Rules say, only put the team you want to win,</h4>
<h4>or put both teams and either "over" or "under".</h4>


<h4>[1] S.F.</h4>
<h4>[2] Arizona </h4>
<h4>[3] Ravens Broncos over</h4>

<h4>Also, seperate each pick with numbers.</h4>