<h3>Pick Order</h3>

<div class="row">
	<div class = "span4">
		<h4>1.  kyledunaway</h4>
		<h4>2.  Baseball Millionare</h4>
		<h4>3.  zachneider</h4>
		<h4>4.  Crutonimo</h4>
		<h4>5.  Ergit</h4>
		<h4>6.  cheber</h4>
		<h4>7.  wigitup</h4>
		<h4>8.  squirlee23</h4>
		<h4>9.  Detroit</h4>
		<h4>10. ctstumpf</h4>
	</div>
	<div class = "span4">
		<h4>11. Damian</h4>
		<h4>12. Dawkins20</h4>
		<h4>13. Dr. Mantis Toboggan</h4>
		<h4>14. PattyMack</h4>
		<h4>15. Hitmen</h4>
		<h4>16. toolate</h4>
		<h4>17. Briancholy</h4>
		<h4>18. captzackk</h4>
		<h4>19. Lobos</h4>
		<h4>20. JB</h4>
	</div>
	<div class = "span4">
		<h4>21. BigSex</h4>
		<h4>22. Samurai Hulk</h4>
		<h4>23. JoeClaus32</h4>
		<h4>24. feistytroll</h4>
		<h4>25. waynetrain</h4>
		<h4>26. humweb</h4>
		<h4>27. Commissioner Cox</h4>
		<h4>28. jmcavene</h4>
		<h4>29. cbcatalano</h4>
		<h4>30. Danny Hartman</h4>
	</div>
</div>