<h2>Weekly Picks</h2>
<h4>Sunday Morning Everyone's Weekly Picks Will Be Made Public</h4>
<table class = "table">
  <thead>
    <tr>
      <th>Week #</th>
      <th>Name</th>
      <th>Picks</th>
      <th>Time </th>
    </tr>
  </thead>
  <tbody> 
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>