<h3>League Description</h3>

 

Each week everybody submits a 3 team parlay to the commisioner.  You earn points for picking winners.  These points are how we rank the league.

 

Each week the commisioner will place real money bets using the picks of the top ranked teams.  All money won from these real money bets go into the prizepool.

 

 

<h3>Money</h3>

 

The buy-in is $51.  Thats $3 for each week of the 17 week season.  $3 x 30 teams is a $90 weekly budget.

 

<h3>Weekly Budget:</h3>

$50 single team bet

$15 3-team parlay

$5 6-team parlay

$20 to prizepool

 

 

<h3>Weekly Picks</h3>

 

Each week everyone will submit one 3 team parlay ranked in order of confidence.  These picks can be teams or over/unders. These picks will be posted on the league website http://humboldtfantasy.herokuapp.com.  All picks must be submitted before saturday at midnight.  The lines that end up being official will be the lines when the commisioner makes the bets shortly after Saturday at midnight. No Thursday games and no Saturday games are eligible for betting.

 

<h4>An example of a properly submitted weekly parlay:</h4>

<h5>eagles</h5>

<h5>eagles under</h5>

<h5>niners</h5>

 

you could put the point spreads and totals here, however the lines when you submit the picks might not be what gets locked in at saturday midnight.

 

You can also always resubmit your weekly picks up until the deadline..All picks are timestamped

 

 

<h3>Real Money Bets</h3>

 

<h5>$50 straight bet...The top pick of the top ranked team will be used for this bet</h5>

 

<h5>$15 3-team parlay...The top pick of the the 2nd 3rd and 4th teams will be used for this bet. </h5>

 

<h5>$5 6-team parlay...The top picks of the 5th-10th teams will be used for this bet </h5>

 

<h5>When there are any conflicts (both sides of the same game) on the same parlay, the higher ranked team will be given preference. </h5>

 

<h5>If two or more teams have the same first pick or if there are any conflicts, the commmisioner will act accordingly: </h5>

 

Look at the second pick for the highest ranked team, and add to the parlay if possible </br>
Look at each succesively ranked pick, and add to the parlay or discard, until the parlay card had been filled </br>
 
Each weeks real money bets are dictated by rankings.  Week one everyone has 0 points, so the initial ranking will be drawn randomly.  </br>
These initial rankings will be used as tiebreakers throughout the season for ranking the teams.</br>
 
Money payouts will not be affected by these rankings, If two teams are tied they will share the money from their two prize slots.

<h3>Prizepool</h3>

 

<h5>At a minimum, the prizepool will have $340 in it ($20 from weekly budget x 17 weeks)

All money won from real money bets will go to the prizepool</h5>

 

 

<h5>If the prizepool is less than 1600..

The top 5 teams at the end of the year will split the prizepool in the following manner, 35%, 25%,20%, 15%, 5%</h5>

 

<h5>If the prizepool hits 1600...

6th place gets there money back and the remaining prizepool is split, 35%, 25%,20%, 15%, 5%</h5>

 

<h5>If the prizepool hits 1700...

7th place gets there money back and the remaining prizepool is split, 35%, 25%,20%, 15%, 5%</h5>
 

<h5>If the prizepool hits 1800...

8th place gets there money back and the remaining prizepool is split, 35%, 25%,20%, 15%, 5%</h5>

 

<h5>If the prizepool hits 1900...

9th place gets there money back and the remaining prizepool is split, 35%, 25%,20%, 15%, 5%</h5>

 

<h5>If the prizepool hits 2000...

10th place gets there money back and the remaining prizepool is split, 35%, 25%,20%, 15%, 5%</h5>

 

 

<h3>Scoring System</h3>

 

Each winning side from a teams 'weekly picks' will earn 1 point.  If a team hits his  3-team parlay his points for that week will be doubled.

 

<h5>3/3 picks = 6pt (the doubling effect)</h5>
<h5>2/3 picks = 2pt</h5>
<h5>1/3 picks = 1pt</h5>
<h5>0/3 picks = 0 pts</h5>
<h5>2/2 with a tie = 4 pts (the doubling effect)</h5>
<h5>1/1 with 2 ties = 2pt  (the doubling effect)</h5>





<h3><p>









</p></h3>