<h2>League Description</h2>

 

<p>Each week 15 teams divided into 3 divisions will compete to see who is the best football handicapper.  Every week each team will pick 3 sides and submit them in order of confidence. These bets will be refered to as the 'weekly picks' and will earn that team points for victories.  The 'weekly picks' are not real money bets and serve only to earn points.  The top pick from each team will be grouped with the other top picks from each of their divisional team members forming three 5-team parlays.  These 5-team parlays will be real money bets placed at Bovada and will create our leagues 3 divisional prizepools.</p>

 

 

<h2>Money</h2>

 

<p>The buy-in for the Humboldt Football Betting League is $51.  Thats $3 for each week of the 17 week season.  Each week $2 from each team will be used to provide the bets for the three 5-team parlays.  So each week we will be placing three $10 5-team parlays on Bovada.  Each week $1 from each team will be added to the end of the year 'division winner' prizepool.</p>

 

 

<h2>Pay Outs</h2>



<p>Win your division, get your $51 back.  The division with the highest sum total of points is the divisional winner.</p>



<p>Be the handicapper with the highest point total for the year and you win another $51 provided our league hit atleast one 5-team parlay.  The overall best player will be paid his $51 equally from each of the divisional prizepools with a positive balance.</p>



<p>The remaining money in the divisional prizepools will be split amongst the division members based on point totals in the following manner, 35%, 25%,20%, 15%, 5%</p>

 



<h2>Weekly Picks</h2>



<p>Each week everyone will submit one 3 team parlay ranked in order of confidence.  These picks can be teams or over/unders.  These picks will be posted on the league website http://humboldtfantasy.herokuapp.com.  All picks must be submitted saturday at midnight.  If you want to bet the thursday games, post your picks by Wednesday night. All thursdays games cannot be your highest ranked pick and will not be on the real money parlays.  If you post a 3 team parlay Wednesday night you will get the spreads that are current as of Saturday night at midnight.</p>

 

 

<h2>Scoring System</h2>

 

<p>Each winning side from a teams 'weekly picks' will earn 1 point.  If a team hits his hypothetical 3-team parlay his points for that week will be doubled.</p>

 

<h3>3/3 picks = 6pt (the doubling effect)</h3>
<h3>2/3 picks = 2pt</h3>
<h3>1/3 picks = 1pt</h3>
<h3>0/3 picks = 0 pts</h3>
<h3>2/2 with a tie = 4 pts (the doubling effect)</h3>
<h3>1/1 with 2 ties = 2pt  (the doubling effect)</h3>




