<h2>Weekly Picks</h2>

<table class = "table">
	<thead>
		<tr>
			<th>Week Number</th>
			<th>Picks</th>
			<th>Time Of Post (changes with edits) </th>

		</tr>
	</thead>
	<tbody>
  <% @picks.each do |p| %>
  	<tr>
      <th><%=  p.week_number %> </th>
      <th><%=  p.pick_content %> </th>
	  <th><%= l p.updated_at, :format => :sample %> </th>

  	</tr>
  <% end %>
</tbody>
</table>